<h1> Chat view </h1>

<h2> Hello <% @pseudo %></h2>
<textarea>Foo&#x000A;Bar</textarea>
<form accept-charset="UTF-8" action="/" method="post">
  	<input name="message" value="" />
	<input name="commit" type="submit" value="Send" />
</form>