<h1> Welcome in Chat</h1>

<h2> Choose pseudo to start</h2>
<form accept-charset="UTF-8" action="/" method="post">
  	<input name="pseudo" value="" />
	<input name="commit" type="submit" value="Start Chat" />
</form>